{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:prettier/recommended",
  ],
  "ignorePatterns": ["**/*.js"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": true,
    "sourceType": "module",
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "simple-import-sort",
    "typescript-sort-keys",
  ],
  "root": true,
  "rules": {
    // typescript-eslint
    "@typescript-eslint/consistent-return": "error",
    "@typescript-eslint/consistent-type-assertions": "error",
    "@typescript-eslint/consistent-type-definitions": "error",
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-redundant-type-constituents": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    // import
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    // simple-import-sort
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    // typescript-sort-keys
    "typescript-sort-keys/interface": "error",
    "typescript-sort-keys/string-enum": "error",
  },
}
