* text=auto eol=crlf

node_modules
build
.turbo
.DS_Store
.docusaurus
.cache-loader
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/settings.json
.idea/**

package-lock.json
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.bat

docs/docs/**/README.md
docs/static/api
docs/typedoc-sidebar.js
