name: Build - Documentation
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "docs/**"
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies for docs
        run: npm install
        working-directory: ./docs

      - name: Run prepare
        run: npm run prepare
        working-directory: ./docs

      - name: Build docs
        run: npm run build
        working-directory: ./docs
