name: Build - Documentation
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "docs/docs/**"
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "17.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm install
        working-directory: ./docs

      - name: Build docs
        run: npm run build
        working-directory: ./docs

      - name: Add CNAME
        run: echo discord-ts.js.org > CNAME
        working-directory: ./docs/build
